/*-------------------------------- Seccion About --------------------------------*/
#about .conteiner__about {
    margin-top: 20%;
    height: 55%;
    border-left: 3rem solid orange;
}

#about .about {
    line-height: 3rem;
    margin-left: 18%; 
    width: 57%;
}

#about h2 {
    margin-left: 18%;
    padding-top: 2rem;
    padding-bottom: 4rem;
    max-width: 37rem;
}